.block {
  overflow: hidden;
  width: 100%;
  padding: 10px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 0 -100px 60px rgba(255,255,255,1);
}

.animation {
  width: auto;
  height: 100px;
  font-size: 0px;
}
.animation div {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0px 20px 0px 20px;
}

.animation div img{
  border-radius: 20px;
  height: 120px;
  width: 120px;
  object-fit: contain;
  /*filter: grayscale(100%);*/
  opacity: 50%;
  transition: 0.6s;
  background: #f1f1f1;
  padding: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.3);
}

.animation div img:hover{
  cursor: pointer;
  transition: 0.3s;
  filter: grayscale(0%);
  opacity: 100%;
  border: 1px solid var(--df-primary-color);
}